<!-- Carrousel -->
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item carousel-image-1 active">
      <div class="carousel-caption">
        <h1 class="display-4 text-center"> Educación</h1>
        <p class="mt-3 pt-3"> Escuela, educación y aprendizaje son cosas distintas. En Revueltas construimos propuestas para aprender, experimentar y pensar juntos.</p>
        <%= link_to "Conoce más", educacion_path, class:"nav-link-3 btn btn-outline-dark"%>
      </div>
    </div>
    <div class="carousel-item carousel-image-2" >
      <div class="carousel-caption">
        <h1 class="display-4 text-center"> Radio</h1>
        <p class="mt-3 pt-3"> La radio es el “tambor de la tribu” y a través de ella participamos en la batalla cultural por ampliar nuestros horizontes. </p>
        <%= link_to "Conoce más", radio_path, class:"nav-link-3 btn btn-outline-dark"%>
      </div>
    </div>
    <div class="carousel-item carousel-image-3">
      <div class="carousel-caption">
        <h1 class="display-4 text-center"> Servicios</h1>
        <p class="mt-3 pt-3">Ponemos nuestro saber hacer al alcance de otros individuos, colectivos o instituciones. ¡Trabajemos juntos! </p>
        <%= link_to "Conoce más", servicios_path, class:"nav-link-3 btn btn-outline-dark"%>
      </div>
    </div>
  </div>
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>


<!-- Punch Line -->

<section class="py-2" id="punchline">
  <div class="primary-overlay">
    <div class="container">
        <p class="display-4 mt-5 pt-5 text-center"> Queremos cambiar el mundo: Somos un proyecto para encontrarnos, pensar y actuar colectivamente. </p>
    </div>
  </div>
</section>

<!-- ¿Qué Hacemos? -->

<section  class="py-2 bg-light" id="quehacemos">
  <div class="primary-overlay">
    <div class="container">
    <h1 class="display-4 mt-5 pt-5 text-center"> ¿Qué hacemos?</h1>
      <div class="row py-5">
        <div class="col-lg-4 text-center">
          <svg class="bi bi-book" width="4em" height="4em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" d="M3.214 1.072C4.813.752 6.916.71 8.354 2.146A.5.5 0 018.5 2.5v11a.5.5 0 01-.854.354c-.843-.844-2.115-1.059-3.47-.92-1.344.14-2.66.617-3.452 1.013A.5.5 0 010 13.5v-11a.5.5 0 01.276-.447L.5 2.5l-.224-.447.002-.001.004-.002.013-.006a5.017 5.017 0 01.22-.103 12.958 12.958 0 012.7-.869zM1 2.82v9.908c.846-.343 1.944-.672 3.074-.788 1.143-.118 2.387-.023 3.426.56V2.718c-1.063-.929-2.631-.956-4.09-.664A11.958 11.958 0 001 2.82z" clip-rule="evenodd"/><path fill-rule="evenodd" d="M12.786 1.072C11.188.752 9.084.71 7.646 2.146A.5.5 0 007.5 2.5v11a.5.5 0 00.854.354c.843-.844 2.115-1.059 3.47-.92 1.344.14 2.66.617 3.452 1.013A.5.5 0 0016 13.5v-11a.5.5 0 00-.276-.447L15.5 2.5l.224-.447-.002-.001-.004-.002-.013-.006-.047-.023a12.582 12.582 0 00-.799-.34 12.96 12.96 0 00-2.073-.609zM15 2.82v9.908c-.846-.343-1.944-.672-3.074-.788-1.143-.118-2.387-.023-3.426.56V2.718c1.063-.929 2.631-.956 4.09-.664A11.956 11.956 0 0115 2.82z" clip-rule="evenodd"/></svg>
          <h3>Educación</h3>
          <p> Diseñamos, operamos y evaluamos programas educativos, metodologías, talleres y eventos.</p>
          <%= link_to "Conoce más", educacion_path, class:"btn btn-primary btn-sm text-white"%>
        </div>
        <div class="col-lg-4 text-center">
        <svg class="bi bi-mic-fill" width="4em" height="4em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M5 3a3 3 0 016 0v5a3 3 0 01-6 0V3z"/><path fill-rule="evenodd" d="M3.5 6.5A.5.5 0 014 7v1a4 4 0 008 0V7a.5.5 0 011 0v1a5 5 0 01-4.5 4.975V15h3a.5.5 0 010 1h-7a.5.5 0 010-1h3v-2.025A5 5 0 013 8V7a.5.5 0 01.5-.5z" clip-rule="evenodd"/></svg>
          <h3>Radio</h3>
          <p> Nos gusta pensar, investigar, hacer preguntas, conversar, grabar, editar y poner en común nuestro trabajo: sintoniza. </p>
          <%= link_to "Conoce más", radio_path, class:"btn btn-primary btn-sm text-white"%>
        </div>
        <div class="col-lg-4 text-center">
        <svg class="bi bi-briefcase" width="4em" height="4em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M0 12.5A1.5 1.5 0 001.5 14h13a1.5 1.5 0 001.5-1.5v-6h-1v6a.5.5 0 01-.5.5h-13a.5.5 0 01-.5-.5v-6H0v6z" clip-rule="evenodd"/><path fill-rule="evenodd" d="M0 4.5A1.5 1.5 0 011.5 3h13A1.5 1.5 0 0116 4.5v2.384l-7.614 2.03a1.5 1.5 0 01-.772 0L0 6.884V4.5zM1.5 4a.5.5 0 00-.5.5v1.616l6.871 1.832a.5.5 0 00.258 0L15 6.116V4.5a.5.5 0 00-.5-.5h-13zM5 2.5A1.5 1.5 0 016.5 1h3A1.5 1.5 0 0111 2.5V3h-1v-.5a.5.5 0 00-.5-.5h-3a.5.5 0 00-.5.5V3H5v-.5z" clip-rule="evenodd"/></svg>
          <h3>Servicios</h3>
          <p> Desarrollamos proyectos desde distintos frentes, colaboramos y coordinamos equipos interdisciplinarios: juntos hemos hecho esto</p>
          <%= link_to "Conoce más", servicios_path, class:"btn btn-primary btn-sm text-white"%> </button>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- ¿Qué hemos hecho?-->
<div class="primary-overlay">
  <div class="container">
  <h1 class="display-4 mt-5 pt-5 pb-5 text-center"> ¿Qué hemos hecho?</h1>
  </div>
</div>


<!-- Portafolio -->

<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

  <!--Controls-->
 
  <!--/.Controls-->

  <!--Indicators-->
  <!--/.Indicators-->

  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <!--First slide-->
    <div class="carousel-item active">

      <div class="col-md-4" style="float:left">
       <div class="card mb-2 d-flex">
          <img class="card-img-top"
            src="https://mdbootstrap.com/img/Others/documentation/img%20(75)-mini.jpg" alt="Card image cap">
          <div class="card-body pt-2 " style="">
            <h4 class="card-title">¡Habitar el arte! </h4>
            <p class="card-text">Un curso de verano de experimentación artística y filosofía para niños.</p>
            <a class="btn btn-outline-secondary">Ver más</a>
          </div>
        </div>
      </div>

      <div class="col-md-4" style="float:left">
        <div class="card mb-2">
          <img class="card-img-top"
            src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg" alt="Card image cap">
          <div class="card-body  pt-2">
            <h4 class="card-title">Esculpir el tiempo</h4>
            <p class="card-text">Un curso de apreciación cinematográfica y reflexión crítica. </p>
            <a class="btn btn-outline-secondary">Ver más</a>
          </div>
        </div>
      </div>

      <div class="col-md-4" style="float:left">
        <div class="card mb-2">
          <img class="card-img-top"
            src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
          <div class="card-body pt-2">
            <h4 class="card-title">Remix: Tecnología, cultura y propiedad</h4>
            <p class="card-text">Un curso de estudios críticos sobre la propiedad intelectual.</p>
            <a class="btn btn-outline-secondary">Ver más</a>
          </div>
        </div>
      </div>
      

    </div>
    <!--/.First slide-->

    <!--Second slide-->
    <div class="carousel-item">

      <div class="col-md-4" style="float:left">
        <div class="card mb-2">
          <img class="card-img-top"
            src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
          <div class="card-body pt-2">
            <h4 class="card-title">El misterio de las preguntas sin respuesta </h4>
            <p class="card-text">Un taller corto inspirado en el programa de filosofía para niños.</p>
            <a class="btn btn-outline-secondary">Ver más</a>
          </div>
        </div>
      </div>

      <div class="col-md-4" style="float:left">
        <div class="card mb-2">
          <img class="card-img-top"
            src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg" alt="Card image cap">
          <div class="card-body pt-2">
            <h4 class="card-title">¿Cómo sabes que no eres un robot?</h4>
            <p class="card-text">Un taller corto inspirado en el programa de filosofía para niños.</p>
            <a class="btn btn-outline-secondary">Ver más</a>
          </div>
        </div>
      </div>

      <div class="col-md-4" style="float:left">
        <div class="card mb-2">
          <img class="card-img-top"
            src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg" alt="Card image cap">
          <div class="card-body pt-2">
            <h4 class="card-title">Planeta Neta + Robotrópolis  </h4>
            <p class="card-text">Talleres cortos diseñados para FIL Niños.</p>
            <a class="btn btn-outline-secondary">Ver más</a>
          </div>
        </div>
      </div>
      

    </div>
    <!--/.Second slide-->

   

  </div>
  <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->







    <!-- Contactanos -->
<section class="py-5" id="contacto">
<div class="container">
    <div class="row">
   
      <div class="col-lg-12 text-center">
        <h1 class="display-4 mt-5 pt-3 text-center"> ¿Quieres colaborar con nosotros?</h1>
        <p class="display-5 text-center">Escríbenos y te responderemos en menos de 24 horas</p>
        </div>
        <div class="col-lg-6 text-left">
          <form class="py-5">
            <div class="form-group">
              <label for="exampleFormControlInput1">Correo Electrónico </label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="form-group ">
              <label for="exampleFormControlSelect1">Quisiera colaborar con el área de</label>
              <select class="form-control" id="exampleFormControlSelect1">
              <option>Educación</option>
              <option>Radio</option>
              <option>Servicios</option>
              </select>
            </div>
            <div class="form-group ">
              <label for="exampleFormControlTextarea1">Comentarios</label>
              <textarea class="form-control mb-2" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            
            <button type="button" class="btn btn-primary" >Enviar</button>
            
          </form>
        </div>
        <div class="col-lg-6 mt-5 ml-8">
        <img src="assets/workwu.jpg" alt="" width="450" height="300" style="float:right">
        </div>
    </div>
  </div>
</section>




<!-- Footer -->
<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container">
    <div class="col-sm-3 text-left">
    <p>Sobre Nosotros</p>
    <p>Nuestras revolturas</p>
    <p>¿Quieres trabajar en uno de nuestros proyectos?</p>
    <i class="fab fa-facebook-f ml-3 mr-2"></i>
    <i class="fab fa-twitter mr-2"></i>
    <i class="fab fa-instagram"></i>


    </div>
    <div class="col-sm-12 text-center">
    <small class="text-center" >Copyright &copy; Revueltas Inc</small>
    </div>
  </div>
</footer>