<!-- Carrousel -->
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item carousel-image-1 active">
      <div class="carousel-caption">
        <h1 class="display-4 text-center color-text"> Talleres</h1>
        <p class="mt-3 pt-3 color-text"> Construimos propuestas para aprender, experimentar y pensar en colectivo.</p>
        <%= link_to "Conoce más", educacion_path, class:"nav-link-3 btn btn-outline-dark"%>
      </div>
    </div>
    <div class="carousel-item carousel-image-2" >
      <div class="carousel-caption">
        <h1 class="display-4 text-center"> Podcast</h1>
        <p class="mt-3 pt-3"> Elaboramos propuestas sonoras para detonar el pensamiento crítico.</p>
        <%= link_to "Conoce más", radio_path, class:"nav-link-3 btn btn-outline-dark"%>
      </div>
    </div>
    <div class="carousel-item carousel-image-3">
      <div class="carousel-caption">
        <h1 class="display-4 text-center"> Hacemos</h1>
        <p class="mt-3 pt-3">Reunimos nuestras habilidades y experiencias para diseñar y gestionar proyectos culturales. </p>
        <%= link_to "Conoce más", servicios_path, class:"nav-link-3 btn btn-outline-dark"%>
      </div>
    </div>
        <div class="carousel-item carousel-image-3">
      <div class="carousel-caption">
        <h1 class="display-4 text-center"> Audiovisual</h1>
        <p class="mt-3 pt-3">Producimos contenidos con propuesta creativa, investigación y calidad cinematográfica. </p>
        <%= link_to "Conoce más", audiovisual_path, class:"nav-link-3 btn btn-outline-dark"%>
      </div>
    </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
  </div>
</div>


<!-- Punch Line -->

<section class="py-2" id="punchline">
  <div class="primary-overlay">
    <div class="container">
        <p class="display-4 text-center pad"> Queremos cambiar el mundo: somos una iniciativa para encontrarnos, pensar y actuar colectivamente. </p>
    </div>
  </div>
</section>

<!-- ¿Qué Hacemos? -->

<section  class="py-2 bg-light" id="quehacemos">
  <div class="primary-overlay">
    <div class="container">
    <h1 class="display-5 mt-5 pt-5 text-center"> Gestionar </h1>
    <p class="text-center">1. tr. Llevar adelante una iniciativa o un proyecto</p>
      <div class="row py-5">
        <div class="col-lg-4 text-center">
          <svg class="bi bi-book" width="4em" height="4em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" d="M3.214 1.072C4.813.752 6.916.71 8.354 2.146A.5.5 0 018.5 2.5v11a.5.5 0 01-.854.354c-.843-.844-2.115-1.059-3.47-.92-1.344.14-2.66.617-3.452 1.013A.5.5 0 010 13.5v-11a.5.5 0 01.276-.447L.5 2.5l-.224-.447.002-.001.004-.002.013-.006a5.017 5.017 0 01.22-.103 12.958 12.958 0 012.7-.869zM1 2.82v9.908c.846-.343 1.944-.672 3.074-.788 1.143-.118 2.387-.023 3.426.56V2.718c-1.063-.929-2.631-.956-4.09-.664A11.958 11.958 0 001 2.82z" clip-rule="evenodd"/><path fill-rule="evenodd" d="M12.786 1.072C11.188.752 9.084.71 7.646 2.146A.5.5 0 007.5 2.5v11a.5.5 0 00.854.354c.843-.844 2.115-1.059 3.47-.92 1.344.14 2.66.617 3.452 1.013A.5.5 0 0016 13.5v-11a.5.5 0 00-.276-.447L15.5 2.5l.224-.447-.002-.001-.004-.002-.013-.006-.047-.023a12.582 12.582 0 00-.799-.34 12.96 12.96 0 00-2.073-.609zM15 2.82v9.908c-.846-.343-1.944-.672-3.074-.788-1.143-.118-2.387-.023-3.426.56V2.718c1.063-.929 2.631-.956 4.09-.664A11.956 11.956 0 0115 2.82z" clip-rule="evenodd"/></svg>
          <h3>Análisis</h3>
          <p> Investigamos las relaciones entre producto, precio, costo, públicos, canales y alcances para evaluar la viabilidad.</p>
          <%= link_to "Conoce más", educacion_path, class:"btn btn-primary btn-sm text-white"%>
        </div>
        <div class="col-lg-4 text-center">
        <svg class="bi bi-mic-fill" width="4em" height="4em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M5 3a3 3 0 016 0v5a3 3 0 01-6 0V3z"/><path fill-rule="evenodd" d="M3.5 6.5A.5.5 0 014 7v1a4 4 0 008 0V7a.5.5 0 011 0v1a5 5 0 01-4.5 4.975V15h3a.5.5 0 010 1h-7a.5.5 0 010-1h3v-2.025A5 5 0 013 8V7a.5.5 0 01.5-.5z" clip-rule="evenodd"/></svg>
          <h3>Planificación</h3>
          <p> Desarrollamos un plan de proyecto que incluye objetivos, presupuesto, cronograma e indicadores.</p>
          <%= link_to "Conoce más", radio_path, class:"btn btn-primary btn-sm text-white"%>
        </div>
        <div class="col-lg-4 text-center">
        <svg class="bi bi-briefcase" width="4em" height="4em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M0 12.5A1.5 1.5 0 001.5 14h13a1.5 1.5 0 001.5-1.5v-6h-1v6a.5.5 0 01-.5.5h-13a.5.5 0 01-.5-.5v-6H0v6z" clip-rule="evenodd"/><path fill-rule="evenodd" d="M0 4.5A1.5 1.5 0 011.5 3h13A1.5 1.5 0 0116 4.5v2.384l-7.614 2.03a1.5 1.5 0 01-.772 0L0 6.884V4.5zM1.5 4a.5.5 0 00-.5.5v1.616l6.871 1.832a.5.5 0 00.258 0L15 6.116V4.5a.5.5 0 00-.5-.5h-13zM5 2.5A1.5 1.5 0 016.5 1h3A1.5 1.5 0 0111 2.5V3h-1v-.5a.5.5 0 00-.5-.5h-3a.5.5 0 00-.5.5V3H5v-.5z" clip-rule="evenodd"/></svg>
          <h3>Integración de equipos</h3>
          <p> Buscamos y sumamos a las personas ideales para ejecutar el plan de proyecto. </p>
          <%= link_to "Conoce más", servicios_path, class:"btn btn-primary btn-sm text-white"%> </button>
        </div>
      </div>
      <div class="row py-5">
        <div class="col-lg-6 text-center">
        <svg class="bi bi-briefcase" width="4em" height="4em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M0 12.5A1.5 1.5 0 001.5 14h13a1.5 1.5 0 001.5-1.5v-6h-1v6a.5.5 0 01-.5.5h-13a.5.5 0 01-.5-.5v-6H0v6z" clip-rule="evenodd"/><path fill-rule="evenodd" d="M0 4.5A1.5 1.5 0 011.5 3h13A1.5 1.5 0 0116 4.5v2.384l-7.614 2.03a1.5 1.5 0 01-.772 0L0 6.884V4.5zM1.5 4a.5.5 0 00-.5.5v1.616l6.871 1.832a.5.5 0 00.258 0L15 6.116V4.5a.5.5 0 00-.5-.5h-13zM5 2.5A1.5 1.5 0 016.5 1h3A1.5 1.5 0 0111 2.5V3h-1v-.5a.5.5 0 00-.5-.5h-3a.5.5 0 00-.5.5V3H5v-.5z" clip-rule="evenodd"/></svg>
          <h3>Ejecución</h3>
          <p> Documentamos y llevamos a cabo cada etapa del plan</p>
          <%= link_to "Conoce más", servicios_path, class:"btn btn-primary btn-sm text-white"%> </button>
        </div>
        <div class="col-lg-6 text-center">
        <svg class="bi bi-briefcase" width="4em" height="4em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M0 12.5A1.5 1.5 0 001.5 14h13a1.5 1.5 0 001.5-1.5v-6h-1v6a.5.5 0 01-.5.5h-13a.5.5 0 01-.5-.5v-6H0v6z" clip-rule="evenodd"/><path fill-rule="evenodd" d="M0 4.5A1.5 1.5 0 011.5 3h13A1.5 1.5 0 0116 4.5v2.384l-7.614 2.03a1.5 1.5 0 01-.772 0L0 6.884V4.5zM1.5 4a.5.5 0 00-.5.5v1.616l6.871 1.832a.5.5 0 00.258 0L15 6.116V4.5a.5.5 0 00-.5-.5h-13zM5 2.5A1.5 1.5 0 016.5 1h3A1.5 1.5 0 0111 2.5V3h-1v-.5a.5.5 0 00-.5-.5h-3a.5.5 0 00-.5.5V3H5v-.5z" clip-rule="evenodd"/></svg>
          <h3>Evaluación</h3>
          <p> Analizamos la información documentada para recoger aprendizajes y realizar una mejora continua.</p>
          <%= link_to "Conoce más", servicios_path, class:"btn btn-primary btn-sm text-white"%> </button>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- ¿Qué hemos hecho?-->
<div class="primary-overlay">
  <div class="container">
  <h1 class="display-4 mt-5 pt-5 pb-5 text-center"> ¿Qué hemos hecho?</h1>
  </div>
</div>


<!-- Portafolio -->

<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

  <!--Controls-->
 
  <!--/.Controls-->

  <!--Indicators-->
  <!--/.Indicators-->

  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <!--First slide-->
    <div class="carousel-item active">

      <div class="col-md-4" style="float:left">
       <div class="card mb-2 d-flex">
          <img class="card-img-top"
            src="assets/arte.jpeg" alt="Card image cap" height="250">
          <div class="card-body pt-2 " style="">
            <h4 class="card-title">Voces del Siglo </h4>
            <p class="card-text">Miniserie de la transformación de Guadalajara en la última mitad del siglo XX.</p>
            <a class="btn btn-outline-secondary" href="educacion/habitarelarte" role="button">Ver más</a>
          </div>
        </div>
      </div>

      <div class="col-md-4" style="float:left">
        <div class="card mb-2">
          <img class="card-img-top"
            src="assets/tiempo2.jpeg" alt="Card image cap" height="250">
          <div class="card-body  pt-2">
            <h4 class="card-title">Pensar en Comunidad</h4>
            <p class="card-text">Cursos de Filosofía para Niños en el Instituto de la Vera-Cruz.</p>
            <a class="btn btn-outline-secondary" href="educacion/esculpireltiempo" role="button">Ver más</a>
          </div>
        </div>
      </div>

      <div class="col-md-4" style="float:left">
        <div class="card mb-2">
          <img class="card-img-top"
            src="assets/tchcult.jpeg" alt="Card image cap" height="250">
          <div class="card-body pt-2">
            <h4 class="card-title">Tolvanera</h4>
            <p class="card-text">Un documental que recoge la historia del ejido El Bajío (Sonora, México).</p>
            <a class="btn btn-outline-secondary" href="educacion/remix" role="button">Ver más</a>
          </div>
        </div>
      </div>
      

    </div>
    <!--/.First slide-->

    <!--Second slide-->
    <div class="carousel-item">

      <div class="col-md-4" style="float:left">
        <div class="card mb-2">
          <img class="card-img-top"
            src="assets/qwa.jpeg" alt="Card image cap" height="250">
          <div class="card-body pt-2">
            <h4 class="card-title">Filosofía para Niños</h4>
            <p class="card-text">Cursos y talleres basados en la propuesta educativa de Matthew Lipman y Ann Sharp.</p>
            <a class="btn btn-outline-secondary" href="educacion/elmisteriodelaspreguntassinrespuesta" role="button">Ver más</a>
          </div>
        </div>
      </div>

      <div class="col-md-4" style="float:left">
        <div class="card mb-2">
          <img class="card-img-top"
            src="assets/irobot3.jpeg" alt="Card image cap" height="250">
          <div class="card-body pt-2">
            <h4 class="card-title">Prohibido Pensar Podcast</h4>
            <p class="card-text">Un programa de entrevistas conducido por Conrado Romo.</p>
            <a class="btn btn-outline-secondary" href="educacion/comosaberquenoeresunrobot" role="button">Ver más</a>
          </div>
        </div>
      </div>

      <div class="col-md-4" style="float:left">
        <div class="card mb-2">
          <img class="card-img-top"
            src="assets/planetaneta.jpeg" alt="Card image cap" height="250">
          <div class="card-body pt-2">
            <h4 class="card-title">Planeta Neta + Robotrópolis  </h4>
            <p class="card-text">Talleres cortos diseñados para el área infantil de la Feria Internacional del Libro de Guadalajara. </p>
            <a class="btn btn-outline-secondary" href="educacion/planetaneta" role="button">Ver más</a>
          </div>
        </div>
      </div>
      

    </div>
    <!--/.Second slide-->

   

  </div>
  <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->







    <!-- Contactanos -->
<section class="py-5" id="contacto">
<div class="container">
    <div class="row">
   
      <div class="col-lg-12 text-center">
        <h1 class="display-4 mt-5 pt-3 text-center"> ¿Quieres colaborar con nosotros?</h1>
        <p class="display-5 text-center">Escríbenos y te responderemos en menos de 24 horas</p>
        </div>
        <div class="col-lg-6 text-left">
          <form class="py-5">
            <div class="form-group">
              <label for="exampleFormControlInput1">Correo Electrónico </label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="form-group ">
              <label for="exampleFormControlTextarea1">Comentarios</label>
              <textarea class="form-control mb-2" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            
            <button type="button" class="btn btn-primary" >Enviar</button>
            
          </form>
        </div>
        <!--<div class="col-lg-6 mt-5 ml-8">
        <img src="assets/fondo2.jpg" alt="" width="450" height="300" style="float:right">
        </div>-->
    </div>
  </div>
</section>




<!-- Footer -->
<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container">
    <div class="col-sm-3 text-left">
    <a class="footer" href="about" >Sobre Nosotros </a>
    <p>Nuestras revolturas</p>
    <p>¿Quieres trabajar en uno de nuestros proyectos?</p>
    </div>
	<!--
  <div>
    <a href="http://www.facebook.com"> 
      <i class="fab fa-facebook-f "></i>
    </a>
	</div>

  <div>
    <a href="https://twitter.com/estoesrevueltas"> 
      <i class="fab fa-twitter"></i>
    </a>
	</div>
  <div>
    <a href="http://www.instagram.com"> 
      <i class="fab fa-instagram"></i>
    </a>
	</div>
-->

<!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12">
        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <a class="fb-ic" href="http://www.facebook.com/estoesrevueltas">
            <i class="iconfooter fab fa-facebook-f fa-sm white-text mr-md-5 mr-3 fa-x"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic" href="http://www.twitter.com/estoesrevueltas">
            <i class="iconfooter fab fa-twitter fa-sm white-text mr-md-5 mr-3 "> </i>
            <!--Instagram-->
          <a class="ins-ic" href="http://www.instagram.com/estoesrevueltas/">
            <i class="iconfooter fab fa-instagram fa-sm white-text mr-md-5 mr-3 "> </i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 text-center">
    <small class="text-center" >Copyright &copy; Revueltas Inc</small>
    </div>
  </div>
</footer>