<nav class="navbar navbar-expand-md navbar-light fixed-top py-4">
    <div class="container">
        <%= link_to "Revueltas", root_path, class:"navbar-brand", id:"logo" %>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <%= link_to "Sobre Nosotros", about_path, class:"nav-link"%>
                </li>
                <li class="nav-item">
                    <%= link_to "Educación", educacion_path, class:"nav-link"%>
                </li>
                <li class="nav-item">
                    <%= link_to "Radio", radio_path, class:"nav-link"%>
                </li>
                <li class="nav-item">
                    <%= link_to "Servicios", servicios_path, class:"nav-link"%>
                </li>
                <li class="nav-item">
                    <a href="#contacto" class="nav-link">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
